@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Orange Academy </h1>
 
</div>

<div>
    <h1>My Name Is Moath</h1>
</div>